body {
  margin: 0;
  padding: 0;
  font-family: Open Sans; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  margin: 0 0; }

.main-header {
  background: #2c3c4c url("/img/back-mobile_city.jpg") no-repeat center 256px; }

.main-header__page-title {
  min-height: 170px; }

.main-header__page-title--index {
  height: 393px;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  text-align: center; }

.main-header__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #ffffff; }

@media (min-width: 700px) {
  .main-header__wrapper {
    display: flex;
    height: 620px;
    width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center; }
  .main-header__page-title--index {
    display: block;
    margin: 0;
    width: 300px;
    height: auto;
    padding-bottom: 30px; }
  .main-header {
    background: #2c3c4c url("/img/back-city.jpg") no-repeat center 256px; }
  .main-header__title {
    font-size: 40px;
    line-height: 48px; } }

.page-header {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3); }

.page-header__logo-block {
  box-sizing: border-box;
  height: 70px;
  width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #010101; }

.page-header__logo-link {
  height: 22px; }

@media (min-width: 700px) {
  .page-header__logo-link {
    height: 40px; }
  .page-header__logo-block {
    height: 110px;
    width: 700px; } }

@media (min-width: 1448px) {
  .page-header {
    flex-direction: row;
    align-items: center; }
  .page-header__logo-link {
    height: 40px; }
  .page-header__logo-block {
    height: 110px; } }

.site-list {
  list-style: none; }

.site-list__item {
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #010101; }

.site-list__link {
  display: block;
  font-size: 18px;
  line-height: 62px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center; }

@media (min-width: 1448px) {
  .site-list {
    width: 620px;
    display: flex;
    justify-content: space-between; }
  .site-list__item {
    background-color: transparent;
    border: none; }
  .site-list__link {
    font-weight: 400;
    text-transform: none; } }

.downloading {
  text-align: center;
  background-color: #1d2631;
  width: 320px;
  height: 270px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 28px 20px; }

.downloading__button {
  margin-bottom: 32px; }

.downloading__list {
  display: flex;
  justify-content: space-around;
  width: auto;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  list-style: none; }

.downloading__link {
  display: block;
  width: 56px;
  height: 48px;
  background-color: green; }

.downloading__paragraph {
  padding: 0;
  width: auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center; }

@media (min-width: 700px) {
  .downloading {
    margin: 0;
    height: 352px;
    width: 300px;
    padding: 0;
    background-color: transparent; }
  .downloading__paragraph {
    font-size: 18px; }
  .downloading__button {
    margin-bottom: 45px; }
  .downloading__list {
    margin-bottom: 40px; } }

.oval-button {
  display: inline-block;
  box-sizing: border-box;
  min-height: 55px;
  width: 281px;
  font-size: 18px;
  line-height: 55px;
  color: #ffffff;
  font-weight: bold;
  border: 3px solid #ffffff;
  border-radius: 28px;
  text-align: center; }

.oval-button--pink:hover {
  color: #d22856;
  border-color: #d22856; }

@media (min-width: 700px) {
  .oval-button {
    width: 300px; } }

.sqrt-button {
  display: inline-block;
  box-sizing: border-box;
  min-height: 59px;
  width: 276px;
  font-size: 18px;
  line-height: 59px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-color: #2aab6d;
  border: none; }

.main-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  color: #283645; }

.advantages {
  min-height: 1000px;
  background: url("/img/advantages-back.png") 0% 100% no-repeat; }

.advantages__header {
  margin: 0;
  padding: 0;
  width: 280px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: #283645; }

.advantages__header:first-child {
  margin-bottom: 35px; }

.advantages__header:nth-child(2) {
  margin-bottom: 110px; }

.advantages__item {
  margin-bottom: 30px;
  width: 280px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

.advantages__item:last-child {
  margin-bottom: 0; }

.advantages__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000; }

.reviews {
  min-height: 350px;
  width: 280px;
  padding-top: 50px; }

.reviews__item {
  margin: 0;
  padding: 0;
  text-align: center; }

.reviews__author {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  font-style: normal; }

.reviews__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  color: #283645; }

.tarriffs__table {
  line-height: 30px;
  text-transform: uppercase;
  border-collapse: collapse;
  border-spacing: 0; }

.tariffs__head {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #283645; }

.tariffs__price {
  font-size: 24px;
  font-weight: 300; }

.tariffs__field {
  font-size: 14px;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-collapse: collapse; }

.contacts {
  min-height: 410px; }

.contacts__header {
  width: 280px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: #283645; }

.contacts_item {
  margin-bottom: 25px;
  width: 280px;
  text-align: center; }

.contacts_item:last-child {
  margin-bottom: 0; }

.contacts__item-header {
  font-size: 18px;
  line-height: auto;
  font-weight: bold;
  color: #283645; }

.contacts__item-info {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: auto;
  font-weight: 300;
  color: #d22856; }

.gallery__description {
  box-sizing: border-box;
  padding: 12px 0 20px 13px;
  width: 280px;
  background-color: #f2f2f2; }

.gallery__comment {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

.galley__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #283645; }

.gallery__like {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856; }

.editor__form {
  background-color: #f2f2f2; }

.text-group__label {
  font-size: 14px;
  line-height: 30px;
  color: #d22856; }

.text-group__input {
  font-size: 18px;
  line-height: 30px;
  color: #283645; }

.toggle-group {
  background-color: #f2f2f2; }

.toggle-group__description {
  font-size: 14px;
  line-height: 18px;
  color: #d22856; }

.toggle-group__item {
  font-size: 18px;
  line-height: 30px;
  color: #283645; }

.emotions__label {
  font-size: 14px;
  line-height: 30px;
  color: #d22856; }

.emotions__area {
  font-family: open sans;
  font-size: 18px;
  line-height: 30px;
  color: #283645; }

.profile__necessary-field {
  font-size: 14px;
  line-height: 30px;
  color: #283645; }

.main-nav {
  width: 320px;
  margin: 0 auto; }

.main-nav__list {
  margin: 0;
  padding: 0; }

@media (min-width: 700px) {
  .main-nav {
    width: 700px; } }

@media (min-width: 1448px) {
  .main-nav {
    width: auto; } }
