.downloading {
    box-sizing: border-box;
    height: 270px;
    padding-top: 28px;
    padding-bottom: 28px;

    text-align: center;
}

.downloading__button {
    margin-bottom: 32px;
}

.downloading__list {
    display: flex;
    justify-content: center;

    width: auto;
    margin-bottom: 25px;
    padding: 0;

    list-style: none;
}

.downloading__item {
    margin-right: 35px;
}
.downloading__item:last-child {
    margin-right: 0;
}

.downloading__link {
    display: block;

    width: 56px;
    height: 48px;

    background-color: green;
}

.downloading__paragraph {
    width: auto;
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;

    text-align: center;
}

@media (min-width: $tablet-width) {
    .downloading {
        width: 300px;
        height: 270px;
        margin: 0;
        padding: 0;

        background-color: transparent;
    }

    .downloading__paragraph {
        font-size: 18px;
    }

    .downloading__button {
        margin-bottom: 45px;
    }

    .downloading__list {
        margin-bottom: 40px;
    }
}

@media (min-width: $desktop-width) {
    .downloading {
        height: 280px;
        padding: 0;
    }

    .downloading__button {
        margin-bottom: 67px;
    }

    .downloading__list {
        margin-bottom: 55px;
    }
}
