.oval-button
{
    font-size: 18px;
    font-weight: bold;
    line-height: 55px;

    display: inline-block;

    box-sizing: border-box;
    width: 281px;
    min-height: 55px;

    text-align: center;

    color: #fff;
    border: 3px solid #fff;
    border-radius: 28px;
}

.oval-button--pink:hover
{
    color: #d22856;
    border-color: #d22856;
}

@media (min-width: $tablet-width)
{
    .oval-button
    {
        width: 300px;
    }
}
