.oval-button {
  display: inline-block;
  box-sizing: border-box;
  min-height: 55px;
  width: 281px;

  font-size: 18px;
  line-height: 55px;
  color: #ffffff;
  font-weight: bold;

  border: 3px solid #ffffff;
  border-radius: 28px;
  text-align: center;
}

.oval-button--pink:hover {
  color: #d22856;
  border-color: #d22856;
}

@media (min-width: $tablet-width) {
  .oval-button {
  width: 300px;
  }
}
