.page-header
{
    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, .3);
}

.page-header__logo-block
{
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    height: 70px;

    border-top: 1px solid #485461;
    border-bottom: 1px solid #010101;
    background-color: #283645;
}

.page-header__logo-link
{
    height: 22px;
}

@media (min-width: $tablet-width)
{
    .page-header__logo-link
    {
        height: 40px;
    }

    .page-header__logo-block
    {
        height: 110px;
    }
}

@media (min-width: $desktop-width)
{
    .page-header
    {
        align-items: center;
        flex-direction: row;
    }

    .page-header__logo-link
    {
        height: 40px;
    }

    .page-header__logo-block
    {
        width: 150px;
        height: 110px;
        margin: 0;
        padding: 0;
    }

    .page-header__wrapper
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        box-sizing: border-box;
        width: $desktop-width;
        margin: 0 auto;
        padding: 0 130px;
    }
}
