.sqrt-button {
  display: inline-block;
  box-sizing: border-box;
  min-height: 59px;
  width: 276px;

  font-size: 18px;
  line-height: 59px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;

  background-color: #2aab6d;
  border: none;
}
