.tariffs {
    box-sizing: border-box;
    height: 473px;
    padding-top: 90px;

    background: url('/img/tariffs-back.png') center 80% no-repeat;
}

.tarriffs__table {
    width: 300%;
    margin-bottom: 40px;

    line-height: 30px;

    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;

    text-transform: uppercase;
}

.tariffs__price {
    font-size: 24px;
    font-weight: 300;
}

.tariffs__field {
    box-sizing: border-box;
    width: 100%;
    height: 63px;
    padding-left: 22px;

    font-size: 14px;
    color: #283645;

    border-collapse: collapse;

    background-color: #fff;
    border: 2px solid #e5e5e5;
    ;
}

.tariffs__field--head {
    height: 98px;
    padding: 0;

    font-size: 18px;
    font-weight: bold;
    color: #fff;

    background-color: #283645;
    border-color: #283645;
}

.tariffs__field--head {
    border-right: 2px solid #e5e5e5;
}

.tariffs__field--first {
    display: none;
}

@media (min-width: $tablet-width) {
    .tariffs {
        height: 375px;

        background: url('/img/tariffs-back.png') center 15% no-repeat;
    }


    .tarriffs__table {
        width: 100%;
    }

    .tariffs__field {
        height: 49px;
        padding: 0;

        font-size: 0;

        text-transform: none;
    }

    .tariffs__field--head {
        height: 79px;

        font-size: 16px;
    }

    .tariffs__field--first {
        display: table-cell;

        padding-left: 15px;

        font-size: 14px;
    }

    .tariffs__field--head.tariffs__field--first {
        background-color: transparent;
        border: none;
    }

    .tariffs__price {
        font-size: 18px;
    }

    .tariffs__toggles {
        display: none;
    }
}
