.tariffs {
    box-sizing: border-box;
    height: 473px;
    padding-top: 90px;

    background: url('/img/tariffs-back.png') center 80% no-repeat;
}

.tarriffs__table {
    width: 300%;
    margin-bottom: 40px;

    line-height: 30px;

    border-spacing: 0;
    border-collapse: collapse;

    text-transform: uppercase;
}

.tariffs__price {
    font-size: 24px;
    font-weight: 300;
}

.tariffs__field {
    box-sizing: border-box;
    height: 63px;
    padding-left: 22px;

    font-size: 14px;
    color: #283645;

    border-collapse: collapse;

    background-color: #fff;
    border: 2px solid #e5e5e5;
}

.tariffs__field--head {
    height: 98px;
    padding: 0;

    font-size: 18px;
    font-weight: bold;
    color: #fff;

    background-color: #283645;
    border-color: #283645;
}

.tariffs__field--head:nth-child(2) {
    border-right: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
}
